<html>
    <head>
        <title>선택항목 관리</title>
        <style>
            .container {
                margin:20px auto;
                padding:20px;
                width:1200px;
            }
            .ui.table td.column.center {
                text-align: center;
            }
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="/script/selection.js"></script>
    </head>
    <body>
        <%- include('./selection_modal') %>
        <input type="hidden" name="page_type" value="<%=page_type%>"/>
        <input type="hidden" name="selected_data" />
        <div class="container">
            <h4 class="ui horizontal divider header">
            <i class="tag icon"></i>
            <% if (page_type === 'department') { %>
            부서관리
            <% } else { %>
            직급관리
            <% } %>
            </h4>
            <!-- 등록하는 폼 -->
            <div class="ui form warning">
                <div class="field">
                  <label>신규등록</label>
                  <input type="text" name="name" placeholder="추가할 내용을 작성해 주세요">
                </div>
                <div class="ui blue button add">추가하기</div>
            </div>
            <h4 class="ui horizontal divider header">
            <i class="bar chart icon"></i>
            내역보기
            </h4>
            <table class="ui definition table">
            <tbody>
                <% list.forEach(function(item){ %>
                <% if (page_type === 'department') { %>
                <tr data-number="<%=item.department_idx%>">
                    <td><%=item.department_name%></td>
                    <td class="one wide column center">
                        <button class="ui icon red inverted button delete">
                            <i class="trash alternate icon"></i>
                        </button>
                    </td>
                </tr>
                <% } else { %>
                <tr data-number="<%=item.position_idx%>">
                    <td><%=item.position_name%></td>
                    <td class="one wide column center">
                        <button class="ui icon red inverted button delete">
                            <i class="trash alternate icon"></i>
                        </button>
                    </td>
                </tr>
                <% } %>
                <% }) %>
            </tbody>
            </table>
        </div>

    </body>
</html>